@media screen and (max-width:480px){
  .firstDiv,
.secondDiv,
.thirdDiv{
  display:inline-block;
  margin: 0 auto;
  }
}

* {
  background-color: rgb(224, 224, 224);
}
.firstDiv,
.secondDiv,
.thirdDiv {
  display: inline-block;
  background-color: white;
  width: 150px;
  height: 260px;
  box-shadow: 0 0 5px gray;
  transition: 0.2s;
  border-radius: 0.2em;
  margin-right: 14px;
}
.firstDiv:hover,
.secondDiv:hover,
.thirdDiv:hover {
  transition: 0.2s;
  width: 154px;
  height: 266px;
}
.fedyaImg,
.krisaImg,
.monaImg {
  max-width: 100%;
  max-height: 100%;
  padding: 0px 0px 0px 0px;
  object-fit: cover;
  border-radius: 2.5px 2.5px 0px 0px;
}
.cat1,
.cat2,
.cat3 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-weight: bold;
  padding-left: 12px;
  padding-bottom: 0px;
}

.cat1,
.mutuals1,
.cat2,
.mutuals2,
.cat3,
.mutuals3 {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.mutuals1,
.mutuals2,
.mutuals3 {
  font-size: 14px;
  margin-top: 4px;
  padding-left: 12px;
  color: rgb(98, 98, 98);
}
.addFriend {
  background-color: rgb(64, 122, 238);
  border: none;
  border-radius: 0.2em;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 4px 10px 4px 10px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.addFriend:hover {
  background-color: rgb(94, 145, 249);
}
